@font-face {
    font-family: "Snowkybrush";
    src: url('./Snowkybrush-PKZOm.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    row-gap: 20%;
    margin-bottom: 100px;
    
    /* row-gap: 10rem; */
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 10rem;
    gap: 300px;
    padding-left: 100px;
    padding-right: 500px;
    padding-top: 200px;
    padding-bottom: 150px;
    position: relative;
    /* margin-top: 10px; */
    /* background-color: lightblue; */
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    position: relative;
    -webkit-transform: translateZ(0);
    animation: 1s ease-out 0s 1 slideInFromTop
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.logo h4{
    /* color: rgb(226, 226, 226); */
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    -webkit-animation: logo 5s ease-in-out;
    -webkit-animation-iteration-count: infinite;

    -webkit-animation: breathing 10s ease-out infinite normal;
    animation: breathing 10s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
}

@-webkit-keyframes logo {
    0% { 
        opacity: 0.75;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.75;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /* background-color: #182D47; */
        /* border: lightblue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.landing-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.landing-wrapper canvas {
    background: #182d47 url(background.jpg) center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



/* @media only screen and (max-width: 767px) {
    html {
       background-image: url(smaller-image.jpg);
    }
  } */


/* ---- reset ---- */

/* body {
    margin: 0;
    background-color: #17182f;
}
  
canvas {
    display: block;
    vertical-align: bottom;
} */
  
  



/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
} */

#temps {
    position: relative;
    top: 80px;
    left: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 50;
    z-index: 1;
}

#cityName {
    position: relative;
    top: 150px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* vertical-align: middle; */
    font-size: 60;
    z-index: 1;
}

#icon1 {
    position: relative;
    top: 200px;
    left: 130px;
    animation: fadein 3s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#icon2 {
    position: relative;
    top: 200px;
    left: 130px;
    animation: fadein 3.5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 3.5s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#icon3 {
    position: relative;
    top: 200px;
    left: 130px;
    animation: fadein 4s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

#icon4 {
    position: relative;
    top: 200px;
    left: 130px;
    animation: fadein 4.5s;
    -moz-animation: fadein 4.5s; /* Firefox */
    -webkit-animation: fadein 4.5s; /* Safari and Chrome */
    -o-animation: fadein 4.5s; /* Opera */
}

#icon5 {
    position: relative;
    top: 200px;
    left: 130px;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

#icon6 {
    position: relative;
    top: 200px;
    left: 130px;
    animation: fadein 5.5s;
    -moz-animation: fadein 5.5s; /* Firefox */
    -webkit-animation: fadein 5.5s; /* Safari and Chrome */
    -o-animation: fadein 5.5s; /* Opera */
}


.box {
    height: 600px;
    width: 400px;
    /* background-color: rgb(165, 165, 165); */
    background-color: whitesmoke;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    border: 2px solid black;
    /* top: 22%; */
    margin-left: 40%;
    z-index: 1;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    -webkit-transform: translateZ(0);   /* fix random disapppearing */
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}


@media screen and (max-width:480px){
    .box {
        height: 390px;
        width: 270px;
        min-width: 90px;
    }
    #cityName {
        font-size: 35;
        top: 85px;
        position: relative;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    #temps {
        font-size: 35;
        top: 50px;
        
    }
    #icon1{
        position: absolute;
        top: 230px;
        left: 80px;
        height: 90px;
        width: 90px;
    }
    #icon2{
        position: absolute;
        top: 230px;
        left: 80px;
        height: 90px;
        width: 90px;
    }
    #icon3{
        position: absolute;
        top: 230px;
        left: 80px;
        height: 90px;
        width: 90px;
    }
    #icon4{
        position: absolute;
        top: 230px;
        left: 80px;
        height: 90px;
        width: 90px;
    }
    #icon5{
        position: absolute;
        top: 230px;
        left: 80px;
        height: 90px;
        width: 90px;
    }
    #icon6{
        position: absolute;
        top: 230px;
        left: 80px;
        height: 90px;
        width: 90px;
    }
}

@media screen and (max-width:352px){
    .box {
        height: 290px;
        width: 190px;
        margin-right: 20%;
    }
    #cityName {
        font-size: 20;
        top: 75px;
        position: relative;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    #temps {
        font-size: 20;
        top: 50px;
        
    }
    #icon1{
        position: absolute;
        top: 170px;
        left: 50px;
        height: 70px;
        width: 70px;
    }
    #icon2{
        position: absolute;
        top: 170px;
        left: 50px;
        height: 70px;
        width: 70px;
    }
    #icon3{
        position: absolute;
        top: 170px;
        left: 50px;
        height: 70px;
        width: 70px;
    }
    #icon4{
        position: absolute;
        top: 170px;
        left: 50px;
        height: 70px;
        width: 70px;
    }
    #icon5{
        position: absolute;
        top: 170px;
        left: 50px;
        height: 70px;
        width: 70px;
    }
    #icon6{
        position: absolute;
        top: 170px;
        left: 50px;
        height: 70px;
        width: 70px;
    }
}



@keyframes fadein {
    0% {
        opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    0% {
        opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {
        opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    0% {
        opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
