nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    position: relative;
    -webkit-transform: translateZ(0);
    animation: 1s ease-out 0s 1 slideInFromTop
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.logo h4{
    /* color: rgb(226, 226, 226); */
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    -webkit-animation: breathing 10s ease-out infinite normal;
    animation: breathing 10s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
}



@-webkit-keyframes logo {
    0% { 
        opacity: 0.75;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.75;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /* background-color: #182D47; */
        /* border: lightblue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.landing-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.landing-wrapper canvas {
    background: #182d47 url(../images/background.jpg) center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.box {
    height: 600px;
    width: 600px;
    top: 150px;
    right: 150px;
    /* background-color: rgb(165, 165, 165); */
    background-color: whitesmoke;
    border-radius: 30px;
    position: relative;
    border: 2px solid black;
    /* top: 22%; */
    margin-left: 40%;
    z-index: 1;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    -webkit-transform: translateZ(0);   /* fix random disapppearing */
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.hollow-dots-spinner, .hollow-dots-spinner * {
    box-sizing: border-box;
    top: 130px;
    left: 125px;
    position: relative;
  }

.hollow-dots-spinner {
  height: 15px;
  top: 130px;
  text-align: center;
  width: calc(30px * 3);
}
.hollow-dots-spinner .dot {
  width: 15px;
  height: 15px;
  margin: 0 calc(15px / 2);
  border: calc(15px / 5) solid #ff1d5e;
  border-radius: 50%;
  float: left;
  transform: scale(0);
  animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
}
.hollow-dots-spinner .dot:nth-child(1) {
  animation-delay: calc(300ms * 1);
}
.hollow-dots-spinner .dot:nth-child(2) {
  animation-delay: calc(300ms * 2);
}
.hollow-dots-spinner .dot:nth-child(3) {
  animation-delay: calc(300ms * 3);
}
@keyframes hollow-dots-spinner-animation {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
}

.search-box:hover {
    box-shadow: 0 0 24px #2f3640, 0 0 24px rgb(0, 0, 0.8);
}

.search-box:hover > input {
    width: 240px;
    padding: -1px 6px;
}

.search-box:hover > .search-button {
    background: white;
    color: #2f3640;
}

.search-button {
    color: #eb5757;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
}

.search-button i {
    font-size: 40px;
}

.input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.tempResult {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 130px;
}

#icon1{
    position: absolute;
    top: 440px;
    left: 245px;
    height: 100px;
    width: 100px;
}


@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}